<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>University:::Home</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <h6>I am a Maharishi International University Student</h6>
    <h6>Musie G Fanuel</h6>
    <h6>6423456</h6>

</main>

</body>
</html>